#player,#player a{ color:#233031; font-family: Source Sans Pro;}
#player{ background:url(https://i.imgur.com/bqNkbw1.png); background-position:bottom; background-color: #f8f8f8 }
#player .mainImage{ background:url(https://i.imgur.com/dgVbw3C.png); }
	
#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(https://i.imgur.com/heaM1g4.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#f8f8f8;  }
#player #seekerBuffered{ background-color:#769091; }
#player #seekerSliderBase{ background-color:#dfa782; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(https://i.imgur.com/bqNkbw1.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#f8f8f8;}
#playlist .module{ color:#233031; background-color:#f8f8f8; }
#playlist h3{ background:url(https://i.imgur.com/MoTK23S.jpg); color:#233031; background-color:#f8f8f8; }
#playlist .even{background-color:#f8f8f8;}
#playlist .odd{ background-color:#f8f8f8;}
#playlist .focus{ background-color:#f8f8f8; color:#dfa782;}